@font-face {
    font-family: 'Bridge Type';
    src: url('BridgeType-Regular.woff2') format('woff2'),
        url('BridgeType-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.grid-container8 {
    font-family: 'Bridge Type', sans-serif;
    margin: 0;
    padding: 8px;
    background-color: #27a7bc;
    background-image: url('euro2020back.jpeg');
    color: white;
    display: grid;
    grid-template-columns: 120px 1fr 120px;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: column;
    gap: 10px;
    align-items: center;
}
.grid-container4 {
    grid-row-start: 1;
    grid-row-end: 5;
    display: grid;
    grid-template-columns: 135px 1fr 135px;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    gap: 10px;
    align-items: center;
    height: 100%;
}
.grid-container2 {
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 110px 110px;
    column-gap: 10px;
    row-gap: 20px;
    align-items: center;
}
.right {
    grid-column-start: 3;
}

.game {
    font-size: 1.3em;
    font-weight: bold;
    padding: 8px;
    text-align: center;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.7);
}
.grid-container8 > .game {
    align-self: stretch;
}
.date {
    font-size: 0.8em;
    color: rgba(255,255,255,0.6);
    margin-bottom: 4px;
}
.town {
    font-size: 0.8em;
    color: rgba(255,255,255,0.4);
    font-weight: 400;
    margin-top: 4px;
}
.logo {
    text-align: center;
    font-size: 4em;
    color: #ddf913;
    text-shadow: 0 0 10px rgba(0,0,0,0.7);
    grid-column-start: 1;
    grid-column-end: 3;
}
.final {
    font-size: 2em;
    grid-column-start: 1;
    grid-column-end: 3;
}
.logo > span {
    font-size: 0.8em;
    color: white;
}