@font-face {
    font-family: 'Novarese';
    src: url("ITC Novarese Std/NovareseStd-Book.otf") format("opentype");
}
@font-face {
    font-family: 'Novarese';
    font-weight: bold;
    src: url("ITC Novarese Std/NovareseStd-Bold.otf") format("opentype");
}

body {
    margin: 0;
    padding: 20px;
    font-family: 'Novarese', sans-serif;
    font-size: 1.2em;
    color: white;
    background-image: url(backgroundDark01L.jpg);
    background-color: #040a63;
    background-position: center;
    background-attachment: fixed;
    background-size: 120%;
}
.logo {
    width: 83px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-image: url(logo_dark.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 83px 80px;
}
#table {
    width: 760px;
    height: 470px;
    position: relative;
    overflow: scroll;
}
.grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 370px 370px;
    /* grid-template-rows: repeat(8, 1fr); */
    /* grid-auto-flow: column; */
    column-gap: 20px;
    row-gap: 10px;
    align-items: center;
}
.matchday {
    grid-column: 1/3;
    text-align: center;
    position: sticky;
    top: 10px;
}
.match, .group {
    /* backdrop-filter: blur(10px); */
    background-color: rgba(0, 0, 75, .5);
    padding: 10px;
    border-radius: 5px;
}
.group {
    display: grid;
    grid-template-columns: 60% 10% 10% 10% 10%;
    row-gap: 5px;
}
.group::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 133px;
    left: 255px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgb(18,56,216), rgba(0,0,0,0));
}
.group > :not(.team, .title) {
    text-align: center;
}
.group > :not(.team, .points), .title {
    color: rgb(90,248,221);
}

.date {
    font-size: 0.8em;
    color: rgb(175, 175, 175);
    margin-bottom: 5px;
}
.info {
    display: grid;
    grid-template-columns: 95% 5%;
}
.score {
    text-align: right;
}