@font-face {
    font-family: "ALS Sector Regular"; 
    src: url("ALS Sector Regular/595030bb520f1e2ab2fb4e8d7c5f30a5.eot"); 
    src: url("ALS Sector Regular/595030bb520f1e2ab2fb4e8d7c5f30a5.eot?#iefix") format("embedded-opentype"), 
    url("ALS Sector Regular/595030bb520f1e2ab2fb4e8d7c5f30a5.woff2") format("woff2"), 
    url("ALS Sector Regular/595030bb520f1e2ab2fb4e8d7c5f30a5.woff") format("woff"), 
    url("ALS Sector Regular/595030bb520f1e2ab2fb4e8d7c5f30a5.ttf") format("truetype"), 
    url("ALS Sector Regular/595030bb520f1e2ab2fb4e8d7c5f30a5.svg#ALS Sector Regular") format("svg");
}
@font-face {
    font-family: "ALS Sector Bold";
    src: url("ALS Sector Bold/55c75572ae1d9f96d61851294e1698ec.eot");
    src: url("ALS Sector Bold/55c75572ae1d9f96d61851294e1698ec.eot?#iefix") format("embedded-opentype"),
    url("ALS Sector Bold/55c75572ae1d9f96d61851294e1698ec.woff2") format("woff2"),
    url("ALS Sector Bold/55c75572ae1d9f96d61851294e1698ec.woff") format("woff"),
    url("ALS Sector Bold/55c75572ae1d9f96d61851294e1698ec.ttf") format("truetype"),
    url("ALS Sector Bold/55c75572ae1d9f96d61851294e1698ec.svg#ALS Sector Bold") format("svg");
}

.ru-league {
    background: #f1f8fe; /* linear-gradient(90deg, #02AFFF 0%, #1F5BD7 100.04%); */
    padding: 10px;
    font-family: "ALS Sector Regular";
    font-size: 16px;
}
.ru-logo {
    width: 255px;
    height: 38px;
    margin: 10px auto;
    background-image: url(logo.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 255px 38px;
}

.ru-container {
    height: 520px;
    position: relative;
    overflow: scroll;
}
.ru-table {
    background-color: white;
    padding: 20px;
    display: grid;
    grid-template-columns: 50px 1fr 50px 50px 50px 50px 100px 50px;
    align-items: center;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
}
.ru-table .header {
    display: contents;
    font-size: 12px;
}
.ru-table .header > div {
    padding-bottom: 5px;
}
.ru-table .header > .name {
    padding-left: 33px;
}
.ru-table img {
    vertical-align: middle;
    margin-right: 5px;
}
.ru-table .name {
    text-align: left;
    padding: 0;
}
.rowWrapper {
    display: contents;
    cursor: pointer;
}
.rowWrapper > div {
    padding: 4px 0;
}
.rowWrapper:hover > div, .rowWrapper.active > div {
    transition: background-color .3s ease;
    background-color: #f1f8fe;
}

.ru-matches {
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center;
}
.ru-stage {
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
}
.ru-stage img {
    vertical-align: middle;
}
.ru-title {
    font-size: 20px;
    padding-bottom: 5px;
}
.ru-matchresult {
    display: block;
    display: grid;
    grid-template-columns: 1fr 50px 50px 20px 50px 50px 1fr;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.ru-matchresult:hover {
    transition: background-color .3s ease;
    background-color: #f1f8fe;
}
.ru-match {
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgb(0 16 61 / 7%);
}
.ru-match.win {
    background-color: rgba(0, 220, 18, 0.05);
    box-shadow: 0 6px 20px rgba(0, 220, 18, 0.2);
}
.ru-match.lose {
    background-color: rgba(213, 1, 1, 0.05);
    box-shadow: 0 6px 20px rgba(213, 1, 1, 0.15);
}
.ru-match.draw {
    background-color: rgba(0, 59, 223, 0.05);
    box-shadow: 0 6px 20px rgba(0, 59, 223, 0.1);
}
.ru-date {
    margin: 5px 0;
    font-size: 14px;
    color: rgba(0,0,0,0.5);
}
.ru-score {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    align-items: center;
}
.ru-scheduled {
    grid-column: 1 / -1;
    color: rgba(0,0,0,0.5);
}
.ru-bold {
    font-family: "ALS Sector Bold";
}
.ru-leftteam {
    text-align: right;
}
.ru-rightteam {
    text-align: left;
}
.ru-time {
    grid-column: span 3;
}